<b style="font-family: Arial, sans-serif; text-decoration: overline; font-size: 30px">FUNCH</b>
<br>
<br>
<span style="font-family: Arial, sans-serif">It's time to order your lunch for <%= due_date %>!</span>
<br>
<br>
<b style="font-family: Arial, sans-serif">RESTAURANT...</b>
<br>
<span style="font-family: Arial, sans-serif"><%= restaurant %></span>
<br>
<br>
<b style="font-family: Arial, sans-serif">ORDERS DUE BY...</b>
<br>
<span style="font-family: Arial, sans-serif"><%= due_time %></span>
<br>
<br>
<b style="font-family: Arial, sans-serif">ON LUNCH DUTY...</b>
<br>
<span style="font-family: Arial, sans-serif"><%= onduty_list %></span>
<br>
<br>
<span style="font-family: Arial, sans-serif">Click the link below to get started:</span>
<br>
<a href="<%= link %>"><%= link %></a>
